<!-- -->
<launch>

	  <!-- Launch the tracking node -->
  	<node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker" output="screen">
		<param name="model_path" value="$(find visp_auto_tracker)/models" />
		<param name="model_name" value="pattern" />
		<param name="debug_display" value="False" />
		<!-- param name="code_message" value="Ver1" / -->

		<remap from="/visp_auto_tracker/camera_info" to="/vrep/camera_info"/>
		<remap from="/visp_auto_tracker/image_raw" to="/vrep/vision_sensor"/>
  	</node>

   <!--node pkg="image_view" type="image_view" name="image_view" respawn="false" output="screen">
		<remap from="image" to="/vrep/vision_sensor"/>
  	</node-->

	<!-- Launch the ibvs node -->
	<node name="pbvs_control_node" pkg="ga_pbvs" type="pbvs_control_node" output="screen">
      <remap from="pbvs_image_features_rot"  to="/pbvs_control/position_rot"/>
      <!-- Subscribers  -->
      <remap from="visual_tracker"  to="/visp_auto_tracker/object_position"/>
		<remap from="vrep_drone_pose"  to="/vrep/camera/pose"/>
      <remap from="vrep_drone_velocity"  to="/vrep/camera/cmd_vel"/>
      <remap from="vrep_drone2camera_pose"  to="/vrep/camera/position2drone"/>

      <!-- Parameters  -->
      <rosparam>Sx:  2.305 </rosparam>
      <rosparam>Sy:  2.4 </rosparam>

	</node>

</launch>
