<launch>

	<node pkg="obstacles_detector" type="blobs_detector_node" name="blobs_detector_node" output="screen">
		
		<remap from="input_image" to="/vrep/vision_sensor"/>
		<remap from="output_image" to="/detector/image_raw"/>
		
		<param name="iLowH" value="0"/>
		<param name="iHighH" value="200"/>
		<param name="iLowS" value="150"/>
		<param name="iHighS" value="255"/>
		<param name="iLowV" value="150"/>
		<param name="iHighV" value="200"/>
		
	</node>

 	<node name="image_view" pkg="image_view" type="image_view" >
     	<remap from="image" to="/detector/image_raw"/>
 	</node>

</launch>
